@{
    ViewData["Title"] = "ForgotPassword";
}

<h3>ForgotPassword</h3>
<span class="text-danger">@ViewBag.message</span>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ForgotPassword">
            @Html.AntiForgeryToken()
            <div class="form-group">
                <label for="email" class="control-label">Email</label>
                <input type="email" id="email" name="Email" placeholder="Enter Your Email" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Login">&#8592;Back</a>
</div>

