@model Broadpost.Models.User

@{
    ViewData["Title"] = "Register";
}

<h1>Signup</h1>
<span class="text-danger">@ViewBag.Message</span>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Register">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" placeholder="Enter your name" class="form-control"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" placeholder="Enter your email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Region" class="control-label"></label>
                <input asp-for="Region" placeholder="Enter your region" class="form-control" />
                <span asp-validation-for="Region" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" placeholder="Enter your user name" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" placeholder="Enter your password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PasswordVerify" class="control-label"></label>
                <input asp-for="PasswordVerify" placeholder="Confirm password" type="password" class="form-control" />
                <span asp-validation-for="PasswordVerify" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Signup" class="btn btn-primary rounded-pill" />
            </div>
        </form>
    </div>
</div>

<div>
    <span>Already have account?<a asp-controller="User" asp-action="Login">Login</a></span>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
