@model Broadpost.Models.ChangePassword

@{
    ViewData["Title"] = "Change Password";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h3>Change Password</h3>
<span class="text-danger">@ViewBag.message</span>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="ChangePassword">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UserId" />
            <div class="form-group">
                <label asp-for="CurrentPassword" class="control-label"></label>
                <input asp-for="CurrentPassword" placeholder="Current password" type="password" class="form-control" />
                <span asp-validation-for="CurrentPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewPassword" class="control-label"></label>
                <input asp-for="NewPassword" placeholder="Enter new password" type="password" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PasswordVerify" class="control-label"></label>
                <input asp-for="PasswordVerify" placeholder="Confirm password" type="password" class="form-control" />
                <span asp-validation-for="PasswordVerify" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save Changes" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


<div>
    <a asp-controller="Dashboard" asp-action="Profile">&#8592;back</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
